<body>
<div>
    <h3>Contact Us! </h3>
    <p>{{ contact }}</p>
  </div>
  <br>
  <p>Questions or Comments?</p>
  <p>Drop us a line and we'll get back to you as soon as we can. We respect your input and look forward to hearing from you!</p>
  <br>
  <form (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name </label>
        <br>
        <input type="text" placeholder="name" name="name" required [(ngModel)]="model.name">
    </div>
    <div>
        <label for="email">Email </label>
        <br>
        <input type="email" placeholder="email" name="email" email required [(ngModel)]="model.email">
    </div>
    <div>
        <label for="subject">Subject </label>
        <br>
        <input type="text" placeholder="subject" name="subject" required [(ngModel)]="model.subject">
    </div>
    <div>
        <label for="message">Message </label>
        <br>
        <textarea type="text" placeholder="message" name="message" required [(ngModel)]="model.message"></textarea>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
</body>