.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
    background-color: black;
}

.card-body {
    padding: 0 25px;
    background-color: black;
    color: aquamarine;
}

.card-footer {
    padding: 10px 15px;
    background-color: black;
    border-top: none;
}
div {
    background-color: black;
}
h1 {
    font-family: monospace;
}
.card {
    background-color: black;
}
.card-body {
    color: aquamarine;
    background-color: black;
}
form {
    background-color: black;
    color: aquamarine;
    font-family: monospace;
}
textarea {
    background-color: black;
    color: aliceblue;
}

.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }