.centeredItem {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    border: 10px ridge silver;
    background-color: black;
    color: skyblue;
}