.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
    border: 5px ridge silver;
}

.card-body {
    padding: 0 25px;
    border: 5px ridge silver;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}
body {
    background-color: black;
    border: 10px ridge silver;
}

div {
    background-color: black;
}
h1 {
    color: skyblue;
}
strong {
    color: aqua;
}
p {
    color: whitesmoke;
}
    
