body {
  background-color: black;
  height: 800px;
}
table {
  margin-top: 15px;
}

.img-circle {
  max-height: 50px;
}

td {
  vertical-align: middle;
}
h3 {
  color: aqua;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
