.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid black;
    display: inline;
}
.container {
    background-color: black;
    height: 100px;
}
nav {
    background-color: black;
    height: 100px;
}
body {
    font-family: monospace;
    font-size: medium;
}
