.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid black;
    display: inline;
}
.container {
    background-color: black;
    height: 100px;
}
nav {
    background-color: black;
    height: 100px;
}
body {
    font-family: monospace;
    font-size: medium;
}


.icon-bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.icon-bar::before {
    content: '';
}

.dropdownTriggered::after { 
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}


@media screen and (max-width: 768px) {
    #navbar {
        background: black;
        position: fixed;
        top: 6rem;
        left: 0;
        padding: 20px;
        z-index: 1;
    }
}