body {
    background-color: black;
    height: 840px;
    border: 10px ridge silver;
}
h2 {
    color: aqua;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }